
@font-face {
    font-family: BCS_Bold;
    src: url(../fonts/Bold.otf);
  }

  @font-face {
    font-family: BCS_Media;
    src: url(../fonts/Media.otf);
  }

  @font-face {
    font-family: BCS_Line;
    src: url(../fonts/Line.otf);
  }


input, select{
    font-family: BCS_Media;
    color: #ce0e2d;
    


}

::placeholder{
    color: #ce0e2d !important;
}


.location_text{
   border-bottom: solid 1px #ce0e2d;
   width: 17%;
   
}

.form-control {
    color: #ce0e2d;
    border: solid 1px #ce0e2d;

}


.form-select {
    color: #ce0e2d;
    border: solid 1px #ce0e2d;

}

label{
    font-family: BCS_Bold;
    font-weight: 900;
    line-height : 10px;

}

h1,h2,h3,h4 {
    font-family: BCS_Media;
}


body{
    background-color: #fefefe;
}

.bg-form{
    background-color: $bg_body !important;
}

.logo img{
    margin-top: 50px;
    display: block;
    max-width: 15%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.City {
    margin-top: 20px;
    padding: 0px !important;
}


.tv {
    margin-top: 55px;
    margin-bottom: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.title_form{
    margin-top: 20px;
    text-align: center;
}

.form_data{
    margin-top: 50px;
}

.form-check-input:checked{
    background-color: #ce0e2d;
    border-color: #fefefe;
}

.button_send {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ce0e2d !important;
    color: #fefefe;
    border-radius: 5px;
    border-color:  1px solid #fefefe ;
    padding: 10px 100px 10px 100px;
    -webkit-box-shadow: -12px 9px 10px -3px #CE0E2D; 
        box-shadow: -12px 9px 10px -3px #CE0E2D;
    

    &:hover{
        border-color: #ce0e2d;
        background-color: transparent;
        color: #fefefe;
        font-family: BCS_Bold;
        padding: 10px 100px 10px 100px;
        -webkit-box-shadow: -12px 9px 10px -3px #CE0E2D; 
        box-shadow: -12px 9px 10px -3px #CE0E2D;
    


    }
}

.btn-primary{
    border-color: #fefefe !important ;
    -webkit-box-shadow: -12px 9px 10px -3px #CE0E2D; 
        box-shadow: -12px 9px 10px -3px #CE0E2D;

        &:focus{
            border-color:  1px solid #fefefe ;
            background-color: #ce0e2d !important;
            -webkit-box-shadow: -12px 9px 10px -3px #CE0E2D; 
            box-shadow: -12px 9px 10px -3px #CE0E2D !important;
        }
    

}

.btn-primary:active{
    background-color: #ce0e2d !important;
    color: #fefefe;
    border-color:  1px solid #fefefe ;


    &:focus{
        border-color:  1px solid #fefefe ;
        background-color: #ce0e2d !important;
        -webkit-box-shadow: -12px 9px 10px -3px #CE0E2D; 
        box-shadow: -12px 9px 10px -3px #CE0E2D !important;
    }

}

